### Algoritmo de Classificação com SVM (Máquina de Vetores de Suporte)
Esse algoritmo encontra uma linha que separe as duas classes.

In [3]:
import pandas as pd

In [4]:
url = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
df = pd.read_csv(url)
df

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [5]:
map = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou",
}

df = df.rename(columns=map)
df

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [6]:
x = df[["principal", "como_funciona", "contato"]]
y = df["comprou"]

In [7]:
df.shape

(99, 4)

In [8]:
x_train = x[:75]
y_train = y[:75]

x_test = x[75:]
y_test = y[75:]

print(
    "Treinaremos com %d elementos e testaremos com %d elementos"
    % (len(x_train), len(x_test))
)

Treinaremos com 75 elementos e testaremos com 24 elementos

In [9]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(x_train, y_train)
previsoes = modelo.predict(x_test)

acuracia = accuracy_score(y_test, previsoes) * 100
print("A acuária foi de %.2f%%" % acuracia)

A acuária foi de 95.83%

In [40]:
from sklearn.model_selection import train_test_split

SEED = 20

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state=SEED
)
modelo.fit(x_train, y_train)
previsoes = modelo.predict(x_test)

acuracia = accuracy_score(y_test, previsoes) * 100
print("A acurária foi de %.2f%%" % acuracia)

print(
    "Proporção para Dados de Treino: %.2f\nProporção para Dados de Teste: %.2f"
    % (
        round(
            y_train.value_counts().to_list()[0] / y_train.value_counts().to_list()[1], 2
        ),
        round(
            y_test.value_counts().to_list()[0] / y_test.value_counts().to_list()[1], 2
        ),
    )
)

A acurária foi de 96.00%
Proporção para Dados de Treino: 1.74
Proporção para Dados de Teste: 3.17

In [34]:
print(
    round(y_train.value_counts().to_list()[0] / y_train.value_counts().to_list()[1], 2),
    round(y_test.value_counts().to_list()[0] / y_test.value_counts().to_list()[1], 2),
)

1.74 3.17

In [41]:
SEED = 20

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state=SEED, stratify=y
)
modelo.fit(x_train, y_train)
previsoes = modelo.predict(x_test)

acuracia = accuracy_score(y_test, previsoes) * 100
print("A acuária foi de %.2f%%" % acuracia)
print(
    "Proporção para Dados de Treino: %.2f\nProporção para Dados de Teste: %.2f"
    % (
        round(
            y_train.value_counts().to_list()[0] / y_train.value_counts().to_list()[1], 2
        ),
        round(
            y_test.value_counts().to_list()[0] / y_test.value_counts().to_list()[1], 2
        ),
    )
)

A acuária foi de 96.00%
Proporção para Dados de Treino: 1.96
Proporção para Dados de Teste: 2.12